.homepage__wrapper {
    padding-top: 5vh;
    .homepage__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80%;
        max-height: 80%;
    }
    .homepage__title {
        font-size: 4rem;
    }
    .homepage__button-wrapper {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    .homepage__grid-container {
        display: flex;
        justify-content: center;
        align-items: center;
        &.homepage__text {
            flex-direction: column;
        }
    }
}
