.guide__container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 50%;
    flex-grow: 0;
    * {
        width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
        margin: 2% 0;
    }
}
