.app-bar {
    .app-bar__toolbar {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 400px) {
            justify-content: center;
        }
        .app_bar__title {
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            @media screen and (max-width: 400px) {
                font-size: 1rem;
            }
        }
        .app-bar__user-menu {
            .app-bar__user-account-button {
                margin: 0 0 0 5px;
                padding: 5px 10px;
                @media screen and (max-width: 400px) {
                    padding: 5px 5px;
                }
            }
        }
    }
}
