.drawer__wrapper {
  min-width: 200px;
  max-width: 100vw;
  height: 100%;
  padding: 5% 0 0 0; }
  .drawer__wrapper .drawer__anonymous-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
