.guide__container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 50%;
  flex-grow: 0; }
  .guide__container * {
    width: 100%; }
  .guide__container h1,
  .guide__container h2,
  .guide__container h3,
  .guide__container h4,
  .guide__container h5,
  .guide__container h6 {
    text-align: center;
    margin: 2% 0; }
