body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.homepage__wrapper {
    padding-top: 5vh;
}
.homepage__wrapper .homepage__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    max-height: 80%;
}
.homepage__wrapper .homepage__subtitle {
    padding: 5px 0;
}
.homepage__wrapper .homepage__title {
    font-size: 4rem;
    line-height: 4.2rem;
    padding: 5px 0;
}
.homepage__wrapper .homepage__body {
    padding: 5px 0;
}
.homepage__wrapper .homepage__button-wrapper {
    display: flex;
    align-items: center;
}
.homepage__wrapper .homepage__grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.homepage__wrapper .homepage__grid-container.homepage__text {
    flex-direction: column;
}

.app-bar .app-bar__toolbar {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 400px) {
    .app-bar .app-bar__toolbar {
        justify-content: center;
    }
}
.app-bar .app-bar__toolbar .app_bar__title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
@media screen and (max-width: 400px) {
    .app-bar .app-bar__toolbar .app_bar__title {
        font-size: 1rem;
    }
}
.app-bar .app-bar__toolbar .app-bar__user-menu .app-bar__user-account-button {
    margin: 0 0 0 5px;
    padding: 5px 10px;
}
@media screen and (max-width: 400px) {
    .app-bar .app-bar__toolbar .app-bar__user-menu .app-bar__user-account-button {
        padding: 5px 5px;
    }
}

.drawer .drawer__wrapper {
    min-width: 200px;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
@media screen and (max-width: 400px) {
    .drawer .drawer__wrapper {
        width: 100vw;
    }
}
.drawer .drawer__wrapper .drawer__anonymous-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
@media screen and (max-width: 400px) {
    .drawer .drawer__wrapper .drawer__anonymous-content .drawer__sign-in-title {
        font-size: 1.5rem;
    }
    .drawer .drawer__wrapper .drawer__anonymous-content .drawer__sign-in-subtitle {
        font-size: 1rem;
    }
}

.drawer .drawer__close-button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.drawer .drawer__bar-container {
    height: 48px;
}
.drawer .drawer__bar-container .drawer__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.drawer .drawer__tab-content {
    height: calc(100% - 48px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.drawer .drawer__tab-content .drawer-list__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: hidden;
}
.drawer .drawer__tab-content .drawer-list__container .drawer-list__content {
    height: calc(100% - 66px);
    overflow: auto;
}
.drawer
    .drawer__tab-content
    .drawer-list__container
    .drawer-list__content
    .team-list__chevron-button {
    margin-right: 15px;
}
.drawer .drawer__tab-content .drawer-list__container .drawer-tab__footer {
    padding-bottom: 15 0px;
    min-height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drawer
    .drawer__tab-content
    .drawer-list__container
    .drawer-tab__footer
    .drawer-tab__footer-button {
    flex-grow: 1;
}

.member-list__label span {
    max-width: 188px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.anonymous-dialog__wrapper .anonymous-dialog__form {
    position: relative;
    width: 400px;
    margin-bottom: 36px;
}
.anonymous-dialog__wrapper .anonymous-dialog__form .anonymous-dialog__submit {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.anonymous-dialog__wrapper .anonymous-dialog__bottom-text .anonymous-dialog__bottom-button {
    display: inline;
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: 0.00938em;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
}

.anonymous-dialog__wrapper .anonymous-dialog__loading {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.members-management__body {
    background: #f5f5f5;
    border-radius: 4px;
}
.members-management__body .members-management__list {
    height: 20rem;
    overflow: auto;
}
